<%- include("../partials/header.ejs") %>


<div class="container align-items-center">
    <h1><%=user.username%>'s Habits</h1>
    <form method="post" action="/habits">
        <div class="mb-3">
            <label for="newHabit">Add a habit:</label>
            <input type="text" name="habit" id="newHabit" required>
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
</div>

<div class="justify-content-start container-sm column">
    <div class="row gx-5">
        <% habits.forEach(habit => { %>
            <div class="card shadow-sm m-3">
                <div class="row align-items-center">
                    <div class="col-1 align-self-center">
                        <form method="post" action="/habits/?_method=DELETE">
                            <input typ="integer" name="habitId" value="<%= habit.id %>" hidden>
                            <button type="submit" class="btn-close"></button>
                        </form>
                    </div>
                    <div class="col-2 align-self-center">
                        <h2 class="card-title"><%= habit.habit_name %></h2 >
                    </div>
                    <div class="col-2 text-center">
                        <div class="card-body">Current Streak</div>
                        <div class="card-body"><%= habit.streak %></div>
                    </div>
                    <div class="col-6 align-items-center"> 
                        <div class="card-body">Past 7 Days:</div>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="<%=habit.week%>" aria-valuemin="0" aria-valuemax="30" style="height: 30px">
                            <div class="progress-bar" style="width: <%= ((habit.week)/7)*100 %>%"><%= habit.week %> times this week</div>
                        </div>
                        <div style="height: 20px"></div>
                        <div class="card-body margin-0">Past 30 Days:</div>
                        <div class="progress mt-0" role="progressbar" aria-label="Basic example" aria-valuenow="<%=habit.month%>" aria-valuemin="0" aria-valuemax="30" style="height: 30px">
                            <div class="progress-bar" style="width: <%= ((habit.month)/30)*100 %>%"><%= habit.month %> times this month</div>
                        </div>
                        <div style="height: 20px"></div>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<%- include("../partials/footer.ejs") %>